<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>Document</title>
</head>
<body>
  <div class="card">
    <div class="card_background_img"></div>
    <img class="card_profile_img" src="<%=udata.titlePhoto%>" alt="">
    <div class="user_details">
        <a href="<%=`https://codeforces.com/profile/${udata.handle}`%>"><h3><%=udata.firstName%> <%=udata.lastName%></h3></a>
        <p><%=udata.rank%></p>
        <p><%=udata.organization%>, <%=udata.country%></p>
    </div>
    <div class="card_count">
        <div class="count">
            <div class="fans">
                <h3><%=udata.rating%></h3>
                <p></p>
                <p>Rating</p>
            </div>
            <div class="following">
                <h3><%=udata.maxRating%></h3>
                <p></p>
                <p>Max rating</p>
            </div>
            <div class="post">
                <h3><%=udata.friendOfCount%></h3>
                <p></p>
                <p>Friends</p>
            </div>
        </div>
        <form action="/user/topic" method="POST">
          <section>
            <label for="tag">Enter Tag </label>
            <input type="text" id="tag" placeholder="Enter Tag" name="tag"><!--this name is varible which is used in the query string-->
          </section>
          <section>
            
            <input type="hidden" id="username" placeholder="Enter Username" name="username" value="<%=udata.handle%>"><!--this name is varible which is used in the query string-->
          </section>
            <button>Apply</button>
        </form>
        
        <!-- <a href="/user/problems"><button class="btn">View Solved Problems</button></a> -->
    </div>
  </div>
</body>
</html>