<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>Document</title>
</head>
<body>
  <div class="card">
    <div class="card_background_img"></div>
    <img class="card_profile_img" src="<%=udata.titlePhoto%>" alt="">
    <div class="user_details">
        <h3><%=udata.firstName%> <%=udata.lastName%></h3>
        <p><%=udata.rank%></p>
        <p><%=udata.organization%>, <%=udata.country%></p>
    </div>
    <div class="card_count">
        <div class="count">
            <div class="fans">
                <h3><%=udata.rating%></h3>
                <p></p>
                <p>Rating</p>
            </div>
            <div class="following">
                <h3><%=udata.maxRating%></h3>
                <p></p>
                <p>Max rating</p>
            </div>
            <div class="post">
                <h3><%=udata.friendOfCount%></h3>
                <p></p>
                <p>Friends</p>
            </div>
        </div>
        <a href=<%=`https://codeforces.com/profile/${udata.handle}`%>><button class="btn">View Profile</button></a>
    </div>
  </div>
</body>
</html>